/.idea
/cmake-build-debug
/cmake-build-release
/bin
/out
/.vs
/.build
/.dist

Scripts/__pycache__
Scripts/lib/spirv-cross/all/test_package/build
Scripts/lib/spirv-tools/all/test_package/build
Scripts/lib/glslang/all/test_package/build

CMakeUserPresets.json
ConanPresets.json

# Poetry
.venv/
poetry.lock
