[submodule "Lib/spdlog"]
	path = Lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Lib/googletest"]
	path = Lib/googletest
	url = https://github.com/google/googletest.git
[submodule "Lib/easyargs"]
	path = Lib/easyargs
	url = https://github.com/rbetik12/easyargs.git
[submodule "Lib/glfw"]
	path = Lib/glfw
	url = git@github.com:glfw/glfw.git
[submodule "Lib/glm"]
	path = Lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "Lib/imgui"]
	path = Lib/imgui
	url = git@github.com:rbetik12/imgui.git
[submodule "Lib/assimp"]
	path = Lib/assimp
	url = git@github.com:assimp/assimp.git
[submodule "Lib/imgui-filebrowser"]
	path = Lib/imgui-filebrowser
	url = git@github.com:AirGuanZ/imgui-filebrowser.git
[submodule "Lib/glslang"]
	path = Lib/glslang
	url = git@github.com:KhronosGroup/glslang.git
[submodule "Lib/crossguid"]
	path = Lib/crossguid
	url = git@github.com:rbetik12/crossguid.git
[submodule "Lib/ImGuizmo"]
	path = Lib/ImGuizmo
	url = git@github.com:rbetik12/ImGuizmo.git
[submodule "Lib/yaml-cpp"]
	path = Lib/yaml-cpp
	url = git@github.com:rbetik12/yaml-cpp.git
[submodule "Lib/taskflow"]
	path = Lib/taskflow
	url = git@github.com:taskflow/taskflow.git
[submodule "Lib/EASTL"]
	path = Lib/EASTL
	url = https://github.com/electronicarts/EASTL
